Estimate the project discussed in this meeting transcript.
Project type: {{ project_type }}.
<transcript>
{{ transcript }}
</transcript>
<output_language>{{ output_language }}</output_language>
{% if evidence_reminder %}
{{ evidence_reminder }}
{% endif %}
